@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');
body{
    font-family: "ital", serif;
    max-width: 960px;
    padding: 20px;
}

:root{
    --primary-color: #0077B6;
    --secondary-color: #90E0EF;
    --accent1-color: #CAF0F8;
    --accent2-color: #00B4D8;

    --heading-font: "Neuton", serif;
    --paragraph-font: "Neuton", serif;

    --nav-background-color: #0077B6;
    --nav-link-color: #CAF0F8;
    --nav-hover-link-color: #90E0EF;
    --nav-hover-background-color:  #00B4D8;
}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header{
    padding: 20px;
    background-color: var(--accent1-color);
}

p{
    padding: 25px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}